<div class="container-fluid navbar-top" id="navbar-top">
    <div class="container">
        <div class="row">
            <div class="col-md-6" id="navbar-top-seach-box">
                <form class="form-inline pull-xs-left">
                    <div id="seach-box-text-input">
                        <input class="form-control" type="text" placeholder="Search by author, title">
                    </div>
                    <span class="separator"> | </span>
                    <div id="seach-box-category-select">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="search-box-category-select-dropdown-button"> All Category
                                <span class="caret"> </span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="search-box-category-select-dropdown-button">
                                <button class="dropdown-item" type="button"> Action </button>
                                <button class="dropdown-item" type="button"> Another Action </button>
                            </div>
                        </div>
                    </div>
                    <div id="submit-search" class="btn btn-outline-success" type="submit">

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
